body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f2f2f2;
}

@keyframes logoAnimation {
    0% {
      transform: scale(100) translate(5%, 5%);
      opacity: 0;
    }
    
    50% {
        transform: scale(10) translate(30%, 20%);
        opacity: 1;
    }

    100% {
      transform: scale(1) translate(0, 0);
      opacity: 1;
    }
}
  
.logo {
    animation: logoAnimation 2s ease-in-out;
    animation-fill-mode: forwards;
    width: 30%;
}

#Logo {
    display: flex;
    align-items: center;
    margin: 0;
    width: 20%;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

#Register {
    color: rgb(69, 22, 22);
}

form {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-row-gap: 5px;
}

form input {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background-color: #000;
    color: white;
    border: none;
}

.first-impression {
    text-align: center;
    padding: 20px;
}

.first-impression h1 {
    font-size: 2em;
}

.gallery_title {
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sneaker {
    width: 33%;
    padding: 20px;
    box-sizing: border-box;
}

.sneaker img {
    width: 100%;
    height: auto;
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #000;
}